.btn-primary {
  background-color: dodgerblue;
}
.btn-primary :focus {
  background-color: #1262b3;
}
.btn-primary :active {
  background-color: #1262b3;
}
.btn-primary :hover {
  background-color: #59a8f7;
}
.container {
  padding: 20px;
}
.exerciseLabel {
  font-weight: bold;
  font-size: x-large;
}
.exerciseDescription {
  font-size: x-large;
}
.icon {
  display: block;
  width: 128px;
  height: auto;
  padding: 10px;
}
#icon-credit {
  font-size: small;
  color: gray;
}
.navbar-brand {
  font-weight: bold;
}
.profileLabel {
  font-weight: bold;
}
.title {
  color: white;
  font-weight: bold;
}
