// ---- Color Variables ---- //
@primary-color:         dodgerblue;
@primary-color-shade:   rgb(18, 98, 179);
@primary-color-light:   rgb(89, 168, 247);

@secondary-color:       orange;
@secondary-color-shade: rgb(207, 135, 0);
@secondary-color-light: rgb(255, 187, 61);

@gray-dark:             rgb(75, 75, 75);
@gray-medium:           gray;
@gray-light:            rgb(200, 200, 200);


// ---- Other Variables ---- //
@icon-width:              128px;

@padding-standard:        20px;
@padding-small:           10px;


// ---- Rulesets ---- //
.container {
    padding:@padding-standard;
};

.exerciseLabel {
    font-weight:bold;
    font-size:x-large;
}

.exerciseDescription {
    font-size:x-large;
};

.icon {
    display: block;
    width: @icon-width;
    height: auto;
    padding:@padding-small;
};

#icon-credit {
    font-size: small;
    color: @gray-medium;
};

.navbar-brand {
    font-weight: bold;
};

.profileLabel {
    font-weight: bold;
};

.title {
    color:white; 
    font-weight:bold;
};